= form_for @initiative do |f|
  -if @initiative.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@initiative.errors.count, "error")} prohibited this initiative from being saved:"
      %ul
        - @initiative.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'
