= javascript_include_tag :defaults
= csrf_meta_tag
= stylesheet_link_tag 'screen.css', :media => 'screen, projection'
= stylesheet_link_tag 'print.css', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer', :media => "screen, projection"