= simple_form_for @work_group do |f|
  -if @work_group.errors.any?
    #errorExplanation.error
      = "#{pluralize(@work_group.errors.count, "error")} prohibited this work_group from being saved."
  .inputs
    = f.input :name
    = f.input :description, :as => :text
    = f.association :initiative
    = f.association :focus_area
  .actions
    = f.button :submit
