%h1 Active Working Groups
- content_for :sidebar do
  = link_to 'New working group', new_work_group_path if permitted_to? :create

- @work_groups.each do |wg|
  .box
    %h2.title
      = link_to wg.initiative.name, initiative_url(wg.initiative)
      \:
      = link_to wg.name, wg
    .focus_area= link_to wg.focus_area.name, focus_area_url(wg.focus_area)
    .description= wg.description
    - permitted_to? :create do
      %p
        =link_to 'Edit', edit_work_group_path(wg)
        =link_to 'Destroy', wg, :confirm => 'Are you sure?', :method => :delete