%p
  %b Name:
  = @work_group.name
%p
  %b Description:
  = @work_group.description
%p
  %b Initiative:
  = @work_group.initiative.name

%p
  %b Focus:
  = @work_group.focus_area.name

= link_to 'Edit', edit_work_group_path
\|
= link_to 'Back', collection_path
