!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %title= title
    = render :partial => "shared/scripts_and_styles"
  %body.two-col.bp
    #container
      = render :partial => "shared/header"
      #content
        -if notice
          %p.notice= notice
        -if alert
          %p.error= alert
        = yield
      #sidebar
        - if content_for? :sidebar
          = yield :sidebar
        - else
          -# .box
          %h1 Sidebar
          (empty)
      = render :partial => "shared/footer"
