!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %title Test Application
    = render :partial => "shared/scripts_and_styles"
  %body.bp
    #container.container
      = render :partial => "shared/header"
      #content
        -if notice
          %p.notice= notice
        -if alert
          %p.error= alert
        = yield
      = render :partial => "shared/footer"